@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	text-align: center;
}

#tv {
	width: 100%;
	background: #000;
	height: 100%;
	z-index: 200;
}

.tv-cover {
	width: 752px;
	height: 576px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	margin: auto;
}

#border {
	position: absolute;
	top: 0;
	left: 0;
}

#volume-rocker {
	position: absolute;
	width: 800px;
	height: 100px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	margin-bottom: 30px;
	text-align: left;
}

#volume-rocker > .volume-box {
	width: 10px;
	height: 10px;
	background: #0E0;
	display: inline-block;
	margin: 30px 5px;
}

#loading {
	position: absolute;
	width: 800px;
	height: 100px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	margin-bottom: 120px;
	text-align: left;
	color: #0E0;
	font-size: 60px;
}

#volume-rocker > .volume-box.big {
	height: 60px;
	margin: 5px 5px;
}

#srijan-logo-big {
	background: url('../img/srijan14_logo_small.png') no-repeat top right;
//	background-color: #FFF;
//	border: 1px #AAA solid;
	position: absolute;
	top: 20px;
	right: 20px;
	width: 200px;
	height: 170px;
	z-index: 120;
}

iframe {
	display: none;
}